
:root {
	--cool-black: #151515;
	--cool-orange: peru;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

html {
	color: wheat;
}

body {
	top: 4.2rem;
	position: relative;
	margin: 0;
}

header {
	position: relative;
	height: 7rem;	
	background-color: var(--cool-orange);
}

main {
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 0;
	background-color: var(--cool-black);
}

#extensible-menu {
	position: absolute;
	width: 0vw;
	height: 0vh;
}

#nav {
	float: right;
	padding: 1rem;
	width: 100vw;
	height: 4.2rem;
	z-index: 20;
	background-color: var(--cool-black); 
	position: fixed;
	top: 0rem;

}
#nav-flex-container {
	display: flex;
	flex-direction: row-reverse;	
	position: relative;
	top: -1.6rem;
}
#nav button {
	padding-left: 0.7rem;
	margin-right: 0.5rem;
	border: none;
	color: wheat;
	background-color: var(--cool-black);
}
#nav button:hover {
	color: white;
}

#home-button {
	cursor: pointer; 
}
.home-link i {
	font-size: 2.2rem;
	color: wheat;
}

.fa-mountain-sun {
	display: inline;

}

.title {
	font-size: 4rem;
}

.newsletter-wrapper {
	width: 100%;
	height: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#newsletter {
	top: 0;
	opacity: 0;
	z-index: 3;
	width: 80vw;
	margin: 2rem;
	padding: 1rem;
	margin-top: 0;
	position: fixed;
	max-width: 50rem;
	align-self: center;
	border-radius: 10px;
	background-color: #500;
}

#newsletter > input {
	font-size: 1rem;
	padding: 0.2rem;
	margin: 0.4rem;

}

.closeNewsletterButton {
	top: 2px;
	right: 10px;
	border: none;
	position: absolute;
	padding: 6px;
	font-size: 1.2rem;
	font-family: cursive;
	text-decoration: none;	
	background-color: inherit;
}
.closeNewsletterButton:hover {
	color: white;
}

.main-wrapper {
	position: relative;
	box-sizing: border-box;
	padding: 1rem;
}

.default-article {
	margin: 1rem;
	padding: 1rem;
	border: 1px #d1d1d1 solid;
	border-radius: 5px;
	background: conic-gradient(from 0.25turn at 50% 30%, #f69d3c, 10deg, #3f87a6, 350deg, #ebf8e1);
}

footer {
	height: 10rem;
	background-color: var(--cool-orange);
}
