
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

html {
	color: wheat;
}

body {
	margin: 0;

}

header {
	height: 5rem;	
	background-color: peru;
}

main {
	box-sizing: border-box;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #151515;
}

.main-wrapper {
	position: relative;
	box-sizing: border-box;
	padding: 1rem;
}

.default-article {
	margin: 1rem;
	padding: 1rem;
	border: 1px #d1d1d1 solid;
	border-radius: 5px;
	background: conic-gradient(from 0.25turn at 50% 30%, #f69d3c, 10deg, #3f87a6, 350deg, #ebf8e1);
}

footer {
	height: 5rem;
	background-color: peru;
}
