:root {
	--cool-black: #15151a;
	--cool-orange: peru;
	--nav-bar-height: 4.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formulario {
	border-radius: 17px;
	background-color: #f6f6f6;
}

#formulario > .input-group {
	background-color: #e1e1e1;
	border-radius: 3px;
	padding: 7px;
}

.title{
    font-family: 'Times New Roman', Times, serif;
}
.contenedor{
    width: 100%;
	background-color: var(--cool-black);
    height: 100vh;
    background: radial-gradient(circle at center, rgb(46, 42, 49) 0, var(--cool-black) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor form{
    width: 90%;
    max-width: 30rem;
    padding: 1rem 1rem 20px;
    background: rgb(245, 200, 116);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    color: black;
    border: 2px #d2d2d2 solid;
}
#h2form{
    text-align: center;
    font-size: 35px;
    color: black;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
.input-group input, .input-group textarea, .input-group select{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #3f87a6;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
select{
    border: none; /*no funciona*/
    outline: none;
}
.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}
#pais-error{
    top: 40px;
}
.input-group span i{
    color: rgb(43, 192, 43);
}
