<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
		<link rel="stylesheet" href="../../css/styles.css">
		<link rel="stylesheet" href="signincss.css">
		<link rel="icon" type="image/x-icon" href="../../static/favicon-32x32.png">
		<script src="https://kit.fontawesome.com/0df88ec4ca.js" crossorigin="anonymous"></script>
	</head>
	<body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <div id="app">
            <!-- Top Navigation Bar -->
            <nav id="nav">
                <button id="home-button" type="button">
                    <a href="../../index.html" class="home-link">
                        <i class="fa-solid fa-mountain-sun fa-2x"></i>
                    </a>
                </button>
    
                <!-- Container de botones -->
                <section class="nav-flex-container">
                    <a href="../mujeres/mujeres.html" type="button" class="nav-button"><span>Mujeres</span></a>
                    <a href="#" class="nav-button unavailable"><span>Hombres</span></a>
                </section>	
    
                <!-- Container de botones a la derecha -->
                <section id="nav-flex-container-right">
                    <button class="nav-button" type="button" onClick="show_side_nav_bar()">
                        <i class="fa-solid fa-bars fa-2x"></i>			
                    </button>
                    <button id="search" class="nav-button" type="button" onclick="expand_or_retract()">
                        <i class="fa-solid fa-magnifying-glass fa-2x"></i>				
                    </button>
                    <input id="search-bar" class="search" type="text" name="search" value="">
                </section>
    
            </nav>	
    
            <!-- Screen Dimmer -->
            <section id="screen-dimmer" onClick="close_side_nav_bar()"></section>
    
            <!-- Side Navigation Bar -->
            <section id="side-nav-bar">
                <section id="rodolfo">
                    <a href="../mujeres/mujeres.html" class="side-nav-button">Mujeres</a>
                    <a class="side-nav-button unavailable">Hombres</a>
    
                    <section class="line"></section>
    
                    <i class="fa-solid fa-phone fa-2x"></i>
                    <a href="../Contacto/Contacto.html" class="side-nav-button">Contacto</a>
                </section>
            </section>
    
            <section class="container">
                <section class="form-box">
                    <h1 id="title2">Registrarse</h1>
                    <form action="">
                        <section class="input-group">
                            <div class="input-field" id="nameField">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" id="nombreLogin" placeholder="Nombre completo">
                                <span id="nombreLoginError"></span>
                            </div>
    
                            <section class="input-field">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="email" id="emailLogin" placeholder="Mail">
                                <span id="emailLoginError"></span>
                            </section>
    
                            <section class="input-field">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" id="passLogin" placeholder="Contraseña">
                                <span id="passLoginError"></span>
                            </section>
                            <p><a href="#" id="forgetPass"></a></p>
                        </section>
    
                        <button type="button" id="sendBtn">Crear Cuenta</button>
    
                        <section class="btn-field">
                            <button type="button" id="registrarseBtn">Registrarse</button>
                            <button type="button" id="signinBtn" class="disabled">Iniciar sesión</button>
    
    
                        </section>
                    </form>
    
                </section>
            </section>
    
            <script src="../../js/index.js"></script>
            <script src="signinjs.js"></script>
            
        </div>
	</body>
</html>
